

.btn-btn{
    
    font-family: 'Poppins', sans-serif;
    padding: 10px 15px;
    text-transform: uppercase;
    border: none;

    &:hover{
        opacity: 0.8;
    }

    a{
        text-decoration: none;
        color: inherit !important; ;
    }
}